body {
margin: 0;
padding: 0;
}
#map {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100vw;
height: 100vh;
}

/* Map Area content */

    #map-sidebar>div { margin-bottom: 30px; }
    #map-sidebar>div:last-child { margin-bottom: 0; }
    #color-changer .swatch {
        border-radius: 100%;
        display: block;
        width: 15px;
        height: 15px;
        margin: 5px 0; 
    }

    .legend-key {
        display: inline-block;
        border-radius:100%;
        width:10px;
        height: 10px;
        margin-right: 5px;
    }

    #layers-control {
        text-align: center;
        z-index: 1;
    }

    #layers-control h3 { 
        line-height: initial;
        font-size: unset;
    }

    #layers-control a {
        font-size: 12px;
        font-weight: 500;
        color: #00394d;
        display: block;
        margin: 0 0 5px 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: #ccc;
    }

    #layers-control a.active {
        background-color: #ffd000;
    }

    #layers-control a:hover {
        background-color: #f00;
    }
    #layers-control a.active:hover {
        background: #f00;
    }